<h1>My favorite coffeeshops:</h1>

<div class="results">
    <% coffeeshops.forEach(coffeeshop=> { %>
        <div>
        <img src="<%= coffeeshop.img %>" class="coffeeshopImg"/>
        <a href="/coffeeshops/<%= coffeeshop.id %>?yelpId=<%= coffeeshop.yelpId %>">
            <h3><%= coffeeshop.name %></h3>
        </a>
         
        <form method="POST" action="/coffeeshops/<%= coffeeshop.id %>/?_method=DELETE">
        <input type="submit" value="🗑 from favorite" class="delete"> 

        </form>
        </div>
    <% }) %>
</div>
