<h1>Coffeeshops:</h1>

<div class="results">
    <%  coffeeshops.forEach(coffeeshop => { %>
        <div class="gridDiv">
        <img src="<%= coffeeshop.image_url %>" class="coffeeshopImg"/>
        <h3 class="nameOfCoff"><%= coffeeshop.name %></h3>
        
        <form action="/coffeeshops" method="POST">
            <input type="hidden" name="name" value="<%= coffeeshop.name %>">
            <input type="hidden" name="yelpId" value="<%= coffeeshop.id %> ">
            <input type="hidden" name="img" value="<%= coffeeshop.image_url %> ">
            <input type="submit" value="❤️ to favorites" class="favoriteButt">
        </form>
    </div>
    <% }) %> 
</div>