<h1>Coffeshop info:</h1>

<img src="<%= coffeeshop.image_url %> "/>
<h1><%= coffeeshop.name %> </h1>
<h3><%= coffeeshop.location.display_address %> </h3>
<h3><%= coffeeshop.display_phone %> </h3>
<h3><%= coffeeshop.rating %> </h3>
<h3><%= coffeeshop.price %> </h3>
